# Ignore Python and VSCode Cache Folder
__pycache__/
.vscode/

# Ignore GIMP Editable Icon File
mouse_pad.xcf

# Ignore Distribution Related Files
dist/
*.spec
*.iss
*.exe
*.txt

# Ignore .DS_Store File
.DS_Store
